:root {
  --primary-color: #efecec;
  --background-color: #363434;
  --header-color: #5c5757;
  --accent-color: #62929a;
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Quicksand", sans-serif;
}
body {
  background: var(--background-color);
}
h1 {
  font-family: var(--heading-font-family);

  color: var(--accent-color);
}
h2 {
  font-family: var(--default-font-family);

  color: var(--primary-color);
}
h3 {
  font-family: var(--default-font-family);

  color: var(--primary-color);
}
p {
}
.hero {
  background: var(--header-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 80px;
  font-weight: bold;
  margin: auto;
}
.hero h2 {
  font-size: 50px;
  margin: 0;
  padding: 20px;
}
.btn-branding {
  background: var(--accent-color);
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 auto;
}
